<div class="bg-white w-full">
  
    <section class="h-screen px-12 sm:px-24 flex items-center relative">
        <div class="grid grid-cols-12 gap-6 ">
            <div class="col-span-12 sm:col-span-12 md:col-span-12 lg:col-span-8 xxl:col-span-12">
                <div class="w-full">
                    <h1 class="text-4xl sm:text-8xl lg:text-8xl xl:text-9xl text-black font-bold my-8">Under<br>
                         <span class="text-indigo-800">Maintenance</span></h1>
                  
                </div>
            </div>
         
        </div>
    </section>
   

</div>